<%- include("partials/header.ejs") %> 
<%- include("partials/navbar.ejs") %> 
    <h2>Profile</h2>
    <p>  User logged in: <%= loggedIn.email %>      </p>
    <p>  Firstname: <=% loggedIn.firstName %> </p>
    <p>  Lastname: <=% loggedIn.lastName %> </p>
    <p>  Profile picture: <%= loggedIn.profilePic %> </p>
<%- include("partials/footer.ejs") %> 
